<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/styles/kendo.common.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/styles/kendo.rtl.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/styles/kendo.default.min.css")">

    <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/kendo.timezones.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/console.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/prettify.min.js")"></script>

    @* Include the JavaScript for the current culture *@

    @{
        var culture = System.Threading.Thread.CurrentThread.CurrentCulture.ToString();
    }

    <script src="@Url.Content("~/Scripts/js/cultures/kendo.culture." + culture + ".min.js")"></script>

    @* Set the current culture *@

    <script>
        kendo.culture("@culture");
    </script>

    @RenderSection("HeadContent", false)
</head>
<body>
    <div class="page">
        <div id="example" class="k-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>