@{
    ViewBag.Title = "About";
}


@section featured {
<div class="parentabout">
    <div class="about">
  <div class="titletxt">About Our Company</div>
   <div class="abtcompany">
   
   </div>
   </div>
   </div>
}
<div class="Awards">
  Awards:<br /> 
  <div>
    <img src='@Url.Content("~/Images/SDTimes.png")' alt="" />
    </div>
    <div>
     <img src='@Url.Content("~/Images/codeproject.png")' alt="" />
    </div>
    <div>
     <img src='@Url.Content("~/Images/inc.png")' alt="" />
    </div>
    <div>
     <img src='@Url.Content("~/Images/component.PNG")' alt="" />
    </div>
    <div>
     <img src='@Url.Content("~/Images/codeie.png")' alt="" />
    </div>
     <div>
     <img src='@Url.Content("~/Images/vp.png")' alt="" />
    </div>
    </div>