@model twitter.bootstrap.Sample.Models.LocalPasswordModel
@{
    var myModel = new { name = "wangcl", code = "wcl" };
}
<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => myModel.name,new {id="name"})
                 @Html.TextBoxFor(m => myModel.name,new {id="name"})
            </li>
             <li>
                @Html.LabelFor(m => myModel.code,new {id="name"})
                 @Html.EditorFor(m => myModel.code,new {id="name"})
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}
